body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  
  a {
    color: #080247;
    text-decoration: none;
  }
  
  a:hover {
    color: #02203c;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0563bb;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #0678e3;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background:linear-gradient(rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151));
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/

/* @media (max-width: 991px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    padding: 30px;
  }

  .mobile-nav-active .nav-menu {
    left: 0;
  }
} */

@media (max-width: 991px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    padding: 30px;
  }

  .mobile-nav-active .nav-menu {
    left: 0;
  }

  .mobile-nav-toggle {
    display: block;
  }
  .nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background:linear-gradient(rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151));
}
}

@media (min-width: 992px) {
  .nav-menu {
    position: static;
    width: auto;
    height: auto;
    overflow-y: visible;
    display: flex;
    justify-content: flex-start;
  }

  .nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background:linear-gradient(rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151));
}

  .nav-menu ul li {
    margin-right: 20px;
  }

  .mobile-nav-toggle {
    display: none;
  }
}

.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  background-color: #8dd9f56d;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}


/* Hero Section */

 
  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../assests/background.jpg") top right no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #hero:before {
    content: "";
    background: rgba(7, 7, 7, 0.467);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fafdfe;
    text-align: start !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  #hero p {
    color: #b6b7b7;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    text-align: start !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  #hero p span {
    color: #f8fac4;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: start !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  #hero .social-links {
    margin-top: 30px;
  }
  
  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }
  
  #hero .social-links a:hover {
    color: #0563bb;
  }  
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0 40px 0px;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #02146dc1;
    bottom: 0;
    border-radius: 30px;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #728394;
  }
  .aboutImg {
    box-shadow: rgba(6, 69, 164, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 3%;
    border: 3px solid #080247;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    width: 100%;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 0;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
 
  .swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation: swing-in-top-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  }
  /*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#skills {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  padding: 30px;
}

.skills {
  position: relative;
  z-index: 1; 
}

/* New CSS for skills */
.progress-ring {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.progress-ring .skill {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.progress-circle {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.progress-circle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e74c3c, #3498db);
  border-radius: 50%;
  clip-path: conic-gradient(var(--progress, 0) at 50% 50%);
}

.skillParallaxImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assests/skiilsBackgroundimg.avif');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; 
}

.backOverlapSkills {
  position: relative;
  width: 100%;
  height: 100%;
  /* Remove z-index */
  /* z-index: -1; */
}

.backOverlapSkills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.701); 
  z-index: 1; 
}


  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right,rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151));
  -webkit-background-clip: text; /* For Safari/Chrome */
  -webkit-text-fill-color: transparent; /* For Safari/Chrome */
  background-clip: text;
  color: transparent;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151);
  }
  .downloadResume{
    background: linear-gradient(rgb(78, 185, 247), rgb(31, 9, 121));
    color: white;
    border-radius: 35px;
    border: none;
    font-weight: 800;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  .downloadResume:hover{
    color: white;
    background-color: #3498db;
  }
 /* -------------------------------------------------------------
  #Portfolio
  ------------------------------------------------------------ */
  #portfolio{
    background: #e3f0fe43;
  }
  .cardportfolio{
  /* text-align: center; */
  padding: 10px 10px 10px 10px;
  transition: all ease-in-out 0.3s;
  background: #cbcbcb38;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border: none;
  border-radius: 20px;
  margin-bottom: 30px;
  }
  .portfolioImg{
    display: block;
    width: 100%;
    /* height: 50vh ; */
   
  }
  
  .overlayPortfolio{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background:linear-gradient(rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151));
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    border-radius: 20px;
  }
  
  .cardportfolio:hover .overlayPortfolio{
    bottom: 0;
    height: 100%;
  }
  
  .descPortfolio{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    /* text-align:justify  */
  }

.textPortfolio{
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
}
  /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  position: relative;
  overflow: hidden;
  background-color: transparent; /* Set a fallback background color */
}

.backgroundParallax{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assests/background2.avif');
  /* min-height: 250px;  */
   /* height: 100%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.contact .container {
  position: relative;
  z-index: 1; /* Ensure the content stays above the background */
}

.contact .section-title {
  margin-bottom: 30px;
}

.contact .info {
  /* background: #fff; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #bec6cf;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fafcffeb;
}

.contact .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

.contact .php-email-form textarea {
  resize: none;
}

.contact .php-email-form button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contact .php-email-form button:hover {
  background: #0056b3;
}

.contact .alert {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
}

.contact .alert-success {
  /* background-color: #d4edda; */
  border-color: #c3e6cb;
  color: #155724;
}

.contact .alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
.backOverlapAcademic{
  position: relative;
  width: 100%;
  height:100%; 
  background-color: rgba(5, 5, 5, 0.948);
  overflow: hidden; 

}
.backOverlapAcademic::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(5, 5, 5, 0.835); /* Adjust opacity as needed */
  }

@media (min-width: 768px) {
  .contact .info {
    margin-top: 20px;
  }

  .contact .php-email-form {
    margin-top: 20px;
  }
}


/* .contact .info {
  width: 100%;
  background: #fff;
} */

.contact .info i {
  font-size: 20px;
  color: #06b3f8;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

/* .contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
} */

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: linear-gradient(rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151));
  color: #fff;
}

/* .contact .php-email-form {
  width: 100%;
  background: #fff;
  
} */

.contact .php-email-form .form-group {
  padding-bottom: 8px;
  
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;

  font-size: 14px;
  border: none;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email] {
  height: 44px;
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 20px;
  background-color: #b6b7b7bf;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 20px;
  background-color: #b6b7b7bf;
}

.contact .php-email-form button[type=submit] {
  background: linear-gradient(rgb(3, 173, 185) ,rgba(1, 63, 135, 0.803), rgb(2, 113, 151));
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  width: 100%;
  margin-top: 20px;
}

.contact .php-email-form button[type=submit]:hover {

  background: linear-gradient(rgb(1, 59, 63) ,rgba(2, 33, 69, 0.803), rgb(0, 54, 71))
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #e3f0fe43;
  color: #45505b;
  font-size: 14px;
  text-align: center;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 70px 0;
}

#footer .social-links a {
  font-size: 22px;
  display: inline-block;
  background: #043f76;
  color: #fff;
  line-height: 1;
  padding: 10px 0px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 46px;
  height: 46px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
 
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

.google-plus{
  transform:
  rotateX(41deg)
  rotateZ(-2deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}

.linkedin{
  transform:
    rotateX(41deg)
    rotateZ(-2deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  padding: 15px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}

.movingImage {
  animation: moveImage 5s linear infinite alternate;
}

@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(90%);
  }
}



